
[class^="headerRow"] {
    background-color: RGBA(0,141,151,1) !important;
}

[class^="headerRow"] a{
    background-color: RGBA(0,141,151,1) !important;
}

[class^="simpleFooterContainer"] {
    background-color: RGBA(0,141,151,1) !important;
}

.ms-HubNav{
    background-color: RGBA(44,42,41,1) !important;
    border-bottom: rRGBA(44,42,41,1) !important;
}

#O365_NavHeader{
    background-color: RGBA(44,42,41,1) !important;
    border-bottom: RGBA(44,42,41,1) !important;
}

[class*="o365sx-appName"] {
    background-color: RGBA(44,42,41,1) !important;
}

[class^="o365cs-base"] {
    background-color: RGBA(44,42,41,1) !important;
    color:white;
}

[class^="o365cs-base"]:hover {
    background-color: rgb(90, 90, 90) !important;
    color:white;
}

#O365_MainLink_Me{
    color:white;
    background-color: RGBA(44,42,41,1) !important;
}
#O365_MainLink_Me:hover{
    background-color: rgb(90, 90, 90) !important;

}
/*
:global {
    .ms-HubNav{
        background-color: red !important;
    }
}


[class^="headerRow"] {
    background-color: RGBA(5,62,25,1) !important;
}

[class^="headerRow"] a{
    background-color: RGBA(5,62,25,1) !important;
}

[class^="simpleFooterContainer"] {
    background-color: RGBA(5,62,25,1)!important;
}

.ms-HubNav{
    background-color: RGBA(88,166,58,1) !important;
    border-bottom: RGBA(88,166,58,1)!important;
}
*/